@import "tailwindcss";

body {
  background-color: '#fef9e7';
  color: #143d1c;
}

@theme{
  --default-font-family : "Audiowide";
}

::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
}

/* Scrolling animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 60s linear infinite;
}

.animate-spin-slow {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}